@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
	/* color: var(--text-color); */
}


/* Adjust font size for mobile devices */
/* @media only screen and (max-width: 768px) {
    html {
        font-size: 12pt;
    }
} */

/* Adjust font size for tablets */
/* @media only screen and (min-width: 768px) and (max-width: 1024px) {
    html {
        font-size: 15pt;
    }
} */

/* Adjust font size for desktop computers */
@media only screen and (min-width: 1024px) {
    html {
        font-size: 10pt;
    }
}

body {
	height: 100vh;
	background-color: var(--body-color);
	transition: var(--tran-03);
}

:root {
	/* ===== Colors ===== */
	--body-color: #E4E9F7;
	--border-color: #d7d7d7;
	--sidebar-color: #faf9f5;
	--primary-color: #FF686B;
	--primary-color-light: #F6F5FF;
	
	--text-color-white: #faf9f5;
	--text-color: #3a3a3a;
	--panel-color: #e7e7e7;
	/* --text-color: #333; */
	--black-light-color: #6c757d;
	--toggle-color: #e9ecef;

	--grey-active: #717171;
	--grey-inactive: #3a3b3c;
	--grey-hover-color: #a1a1a1;

	--accent-color: #8a3e3d;

	--white: #fff;
	--black: #313638;
	--warning-color: #f0ad4e;
	--red: #7f4747;
	--blue: #385273;
	--dark-teal: #00a1ba;
	--success-color: #55b86c;
	--danger-color: #d9534f;

	/* ====== Transition ====== */
	--tran-03: all 0.2s ease;
	--tran-03: all 0.3s ease;
	--tran-04: all 0.3s ease;
	--tran-05: all 0.3s ease;
}

body.dark {
	--body-color: #18191a;
	--sidebar-color: #242526;
	--primary-color: #3a3b3c;
	--primary-color-light: #3a3b3c;
	--toggle-color: #fff;
	--text-color: #ccc;
	--panel-color: #3a3b3c;
	--box1-color: #3a3b3c;
	--black-light-color: #ccc
}

body.dark .switch::before {
	left: 24px;
}

.active {
	background-color: var(--primary-color-light);
}

.content{
	background-color: #7f4747;
}
	
.panel {
	position: relative;
	top: 20px;
	left: 220px;
	min-height: 100vh;
	width: calc(100% - 220px);
	/* padding: 10px 14px; */
	transition: var(--tran-05);
	background-color: var(--panel-color);
}

.dashboard {
	position: relative;
	top: 20px;
	left: 220px;
	min-height: 100vh;
	width: calc(100% - 220px);
	/* padding: 10px 14px; */
	transition: var(--tran-05);
	background-color: var(--panel-color);
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 10px;
}

.dash {
	margin-bottom: 6vh;
}

.panel-content {
	background: var(--sidebar-color);
	border-radius: 5px;
	/* margin-top: 60px; */
	margin-bottom: 4vh;
	margin-left: 10px;
	margin-right: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
	margin: 0 auto;
	max-width: 1200px;
	padding: 12px;
}

.overview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2%;
    padding: 20px 0;
    margin: 10px 0;
    background-color: var(--sidebar-color);
}

.title {
    font-size: 20px;
    font-weight: 500;
    color: var(--accent-color);
}

.placeholder-box {
	width: 100%;
	height: 100%;
	background-color: var(--sidebar-color);
}