body {
    overflow: hidden;
}
/* CSS to style the table */
.table-container {
    background-color: var(--sidebar-color);
    overflow-x: auto;
    position: absolute;
    top: 0;
    left: 0;
}
.table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    margin: 5px;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    max-width: 100%;
}

.table th {
    background-color: var(--red);
    color: white;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table .clickable-row:hover {
    background-color: var(--border-color);
    color: var(--text-color);
    cursor: pointer;
    border: 1px solid var(--text-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: scale(1.01);
    color: var(--blue);
}

.table tbody tr:hover {
    background-color: var(--border-color);
    color: var(--blue);
}